<div class="container">   
    <form method="post" action="/login" class="form-signin" id="loginform" autocomplete="odd">
      <h2><%- title %></h2>
      
      <label>Username</label>
      <input id="username" name="username" type="text" value="" required="required" />
      
      <label>Password:</label>
      <input id="password" name="password" type="password" value="" required="required" />
      
      <p>
        <label class="checkbox">Remember me
          <input type="checkbox" id="rememberme" name="rememberme" checked="checked">
        </label>
      </p>

      <p>
        <button class="btn btn-medium btn-primary" type="submit">Login</button>
      </p>
      <p>
         <a href="/">Back to home</a>
      </p>
    </form>
</div>

 
    

